.el-table .hover-style:hover>td {
    background: rgb(192, 203, 236) !important;
}

.el-table {
    thead .cell {
        text-align: center;
    }
    tbody .cell {
        text-align: center;
    }
}


/* 分页 */

.el-pagination {
    width: 100%;
    padding: 10px 0px;
    background: #ebeef5;
    text-align: right;
    margin-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.el-drawer {
    width: 40% !important;
}

.el-table {
    .cell {
        padding: 0 !important;
    }
}